<footer id="footer">
    <section class="container footer-in">
        <div class="one-third column contact-inf leftside">
            <h4 class="subtitle ">联系方式</h4>
            <p><strong>地址： </strong><br> 1661 North Swan Road<br> Tucson, Arizona<br>USA 85712</p>
            <p><strong>电话: </strong> + 1 (734) 834 7386 </p>
            <p><strong>电子邮件: </strong> <a href="mailto:support@caduceusintel.com">support@caduceusintel.com</a> </p>
        </div>
        <div class="one-third column">
            <br>
        </div>
        <div class="one-third column">
            <ul>
                <li><h4 style="text-align: right"><a href="faq.html">FAQ</a></h4></li>
                <li><h4 style="text-align: right"><a href="privacy.html">Privacy Policy</a></h4></li>
                <li><h4 style="text-align: right"><a href="terms.html">Terms of Use</a></h4></li>
            </ul>
            <hr class="vertical-space1">

        </div>
    </section>
    <!-- end-footer-in -->
    <section class="footbot">
        <div class="container">
            <div class="footer-navi">© 2015. All Rights Reserved. Caduceus Intelligence Corporation.</div>
        </div>
    </section>
    <!-- end-footbot -->
</footer>
<!-- end-footer -->
<span id="scroll-top"><a class="scrollup"><i class="icomoon-arrow-up"></i></a></span>
</div><!-- end-wrap -->