<footer id="footer">
    <section class="container footer-in">
        <div class="one-third column contact-inf leftside">
            <h4 class="subtitle ">联系方式</h4>
            <p><strong>地址： </strong><br> 33 South 5th Ave<br> Tucson, Arizona<br>USA 85701</p>
            <p><strong>电话: </strong> + 1 (520) 333 5754 </p>
            <p><strong>电子邮件: </strong> <a href="mailto:support@caduceusintel.com">support@caduceusintel.com</a> </p>
        </div>
        <div class="one-third column">
            <br>
        </div>
        <div class="one-third column">
            <ul>
                <li><h4 style="text-align: right"><a href="faq.html">常见问题</a></h4></li>
                <li><h4 style="text-align: right"><a href="privacy.html">隐私条款</a></h4></li>
                <li><h4 style="text-align: right"><a href="terms.html">用户条例</a></h4></li>
            </ul>
            <hr class="vertical-space1">

        </div>
    </section>
    <!-- end-footer-in -->
    <section class="footbot">
        <div class="container">
            <div class="footer-navi">© 版权所有-2016-Caduceus Intelligence Corporation.</div>
        </div>
    </section>
    <!-- end-footbot -->
</footer>
<!-- end-footer -->
<span id="scroll-top"><a class="scrollup"><i class="icomoon-arrow-up"></i></a></span>
</div><!-- end-wrap -->