<header id="header">
    <div class="container">
        <div class="four columns logo">
            <a href="index.html"><img src="images/silverlink-logo-blue.png" width="220" id="img-logo" alt="logo"></a></div>
        <nav id="nav-wrap" class="nav-wrap1 twelve columns">
            <ul id="nav">
                <li {{page.home}}><a href="index.html">首页</a>
                </li>

                <li {{page.how}}><a href="how-it-works-a1.html">解决方案</a>
                    <ul>
                        <li><a href="how-it-works-a1.html">系统说明</a></li>
                        <li><a href="plans.html">Plans</a></li>
                    </ul>
                </li>

                <li {{page.about}}><a href="about.html">关于我们</a>
                </li>

                <li {{page.support}}><a href="#">客户服务</a>
                    <ul>
                        <li><a href="faq.html">常见问题</a></li>
                        <li><a href="contact.html">联系我们</a></li>
                    </ul>
                </li>
                <li><a href="https://app.silverlink247.com" target="_blank">用户登录</a>

                </li>
            </ul>
        </nav>
        <!-- /nav-wrap -->
    </div>
    {{menu}}
</header>
<!-- end-header -->