<header id="header">
    <div class="container">
        <div class="four columns logo">
            <a href="index.html"><img src="images/silverlink-logo.png" width="220" id="img-logo" alt="logo"></a></div>
        <nav id="nav-wrap" class="nav-wrap1 twelve columns">
            <ul id="nav">
                <li class="current"><a href="index.html">Home</a>
                </li>

                <li><a href="#">How does it work</a>

                </li>

                <li><a href="about.html">About us</a>
                </li>

                <li><a href="#">Customer support</a>
                    <ul>
                        <li><a href="faq.html">FAQ</a></li>
                    </ul>
                </li>
                <li><a href="#">User login</a>

                </li>
            </ul>
        </nav>
        <!-- /nav-wrap -->
    </div>

</header>
<!-- end-header -->