<section class="four columns" id="side-nav">
    <ul>
        <li {{include.current_a}}><a href="how-it-works-a1.html">a. 安装与设置</a>
            <ul>
                <!--<li {{include.current_a1}}><a href="how-it-works-a1.html">Setting Up</a></li>-->
                <li><a href="how-it-works-a2.html">配置系统</a></li>
            </ul>
        </li>
        <li {{include.current_b}}><a href="how-it-works-b.html">b. SilverLink用户界面</a></li>
        <li {{include.current_c}}><a href="how-it-works-c.html">c. SilverLink一触式吊坠</a></li>
        <li {{include.current_d}}><a href="how-it-works-d.html">d. 先进的数据分析</a></li>
        <li {{include.current_e}}><a href="how-it-works-e.html">e. 与您的家人保持联系</a></li>
        <li {{include.current_f}}><a href="how-it-works-f.html">f. 专业社区养老服务机构</a></li>

    </ul>
</section>