<section class="four columns" id="side-nav">
    <ul>
        <li {{include.current_a}}><a href="how-it-works-a1.html">a. Installation and set up</a>
            <ul>
                <!--<li {{include.current_a1}}><a href="how-it-works-a1.html">Setting Up</a></li>-->
                <li><a href="how-it-works-a2.html">Configuring the system</a></li>
            </ul>
        </li>
        <li {{include.current_b}}><a href="how-it-works-b.html">b. Using user dashboard</a></li>
        <li {{include.current_c}}><a href="how-it-works-c.html">c. Using pendant</a></li>
        <li {{include.current_d}}><a href="how-it-works-d.html">d. Advanced data analytics</a></li>
        <li {{include.current_e}}><a href="how-it-works-e.html">e. Using SilverMail</a></li>
        <li {{include.current_f}}><a href="how-it-works-f.html">f. For professional providers</a></li>

    </ul>
</section>